.mySwiper {
  width: 100%;
}

.swiper-slider {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 300px;
  /* padding: 20px; */
}

.swiper-slider .swiper-slide-image {
  width: 100%;
  height: 100%;
}
