.swiper {
  width: 100%;
  height: 100%;
  color: red;
  background-color: white;
  position: relative;
}
.mySwiper12 .swiper-paginaton-bullet {
  background-color: red;
}

.mySwiper12 .swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: red;
}
.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.swiper-button-next {
  fill: transparent;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  fill: transparent;
}
.swiper-button-prev:hover {
  fill: rgb(0, 0, 0);
}
.swiper-button-prev::after {
  display: none;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.swiper-slide .imageSliderImg {
  position: absolute;
  z-index: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.swiper-slide .title {
  font-size: 41px;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
}

.image-slider-cover {
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  z-index: 1;
  position: absolute;
}
.swiper-slide .subtitle {
  font-size: 21px;
  color: white;
}

.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
}
.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}
