.rbc-event {
  background-color: transparent;
  color: rgb(118, 182, 247);
  border-radius: 1px;
  font-size: 12px;
  font-weight: 600;
}
.rbc-event-content {
  background-color: transparent;
}
.rbc-event.rbc-selected {
  background-color: transparent;
  border: none;
}
span {
  text-align: start;
}
.rbc-button-link {
  font-size: 12px;
  font-weight: 600;
}
.rbc-header {
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-rbc .rbc-btn-group {
  color: white !important;
}
.rbc-btn-group > button {
  color: gray !important;
  background-color: white;
}
.rbc-btn-group > button:hover {
  border: 1px solid rgb(203, 203, 203);
  /* color: gray !important; */
  background-color: rgb(40, 40, 40);
}
.rbc-active {
  background-color: gray !important;
}
.rbc-btn-group button {
  font-size: 12px;
  font-weight: 600;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button:focus,
.rbc-toolbar button:hover {
  background-color: black !important;
  color: white !important;
}
.today.today-active {
  background-color: black;
  color: white !important;
}
.prev.prev-active {
  background-color: black;
  color: white !important;
}
.next.next-active {
  background-color: black;
  color: white !important;
}
.rbc-toolbar {
  margin-bottom: 25px !important;
}
.rbc-month-view {
  border-radius: 5px !important;
}
.rbc-header {
  font-size: 11px !important;
  height: 40px;
}
.rbc-button-link {
  font-size: 10px;
  font-weight: 600;
  color: rgb(138, 138, 138) !important;
}
.rbc-today {
  background-color: transparent;
}
.rbc-date-cell.rbc-now button {
  background-color: black;
  border-radius: 50%;
  color: #fff !important;
  font-size: 10px;
  text-align: center;
  padding-left: 7px;
  height: 25px;
  width: 25px;
}
.rbc-toolbar .rbc-toolbar-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.rbc-toolbar button:active {
  /* background-color: red !important; */
}
.calendar-event {
  margin-bottom: 5px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.rbc-event-content {
  font-size: 12px;
  font-weight: 600;
}
/* .rbc-event{
  background-color: red;
} */
.calendar-add-event-show-details {
  background-color: white;
  box-shadow: 1px 1px 7px 0px gray;
  height: 200px;
  width: 500px;
  position: absolute;
  top: 35%;
  left: 38%;
  z-index: 100;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.calendar-add-event-show-details-title {
  height: 100px;
  background-color: #565656;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  font-size: 18px;
  flex-direction: column;
  color: white;
  width: 100%;
}
.calendar-add-event-show-title {
  width: 100%;
  order: 2;
  font-size: 16px;
  height: 70px;
  padding: 0 5px;
}
.calendar-add-event {
  background-color: white;
  box-shadow: 1px 1px 7px 0px gray;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: 100;
  padding: 10px;
  gap: 15px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.calendar-add-event-title {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #000000;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.calendar-add-event-date-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  height: 80px;
  padding: 20px;
  flex-direction: column;
  color: #d92732;
  gap: 10px;
}
.calendar-add-event-dates {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 20px;
}
.calendar-add-event-add-title {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.calendar-add-event-color-picker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 0 25px;
}
.eventTitleLabel {
  width: 100%;
  display: flex;
  font-size: 15px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  position: relative;
  color: #d92732;
}
#eventTitle {
  width: 90%;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
}

#eventTitle:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #d92732;
}
.calendar-add-event-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

a:hover {
  transform: scale(1);
}

.calendar-add-event-cross-icon {
  background: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 5px;
}
.calendar-add-event-cross-icon svg {
  font-size: 2rem;
  color: var(--background-color);
}
.calendar-add-event-cross-icon:hover {
  background-color: rgb(255, 233, 233);
}
.calendar-add-event-button-item {
  width: 90px;
  height: 30px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}
.calendar-add-event-button-item:hover {
  background-color: rgba(242, 242, 242, 0.8);
}

.add-calendar-modal-icon {
  background: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  right: 8px;
}
.add-calendar-modal-icon:hover {
  background-color: rgb(255, 233, 233);
  color: #d92732;
}

/* .rbc-event-content-continues-prior { 
  background-color: red;
} */
.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 500;
}
.MuiBackdrop-root {
  background-color: rgb(29, 29, 29, 0.3) !important;
  backdrop-filter: blur(4px) !important;
}
