.custom-shape-divider-bottom-1709264162 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709264162 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 115px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1709264162 .shape-fill {
  fill: #d92732;
}
