.approve-page-title {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid #d92732;
  font-weight: 500;
  font-size: 18px;
}
.approve-page-table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex: 1;
  width: 100%;
}

.approve-page-body {
  flex-direction: column;
  gap: 20px;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
