@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  background-color: white;
}
.main-content-inner > .css-zwiamn {
  margin: 0;
}
p,
input,
tr,
th,
span,
button,
ul,
li {
  font-family: "Noto Sans" !important;
  text-align: justify !important;
}

/* scrollbar  */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d92732;
  /* border-radius: 20px; */
  height: 5px;
}

body {
  margin: 0;
  padding: 0;
  /* overflow-y: auto;
  overflow-x: hidden; */
  font-family: "Montserrat", sans-serif;
}
body p {
  font-family: sans-serif;
}

.hide-overflow {
  overflow: hidden;
}
.table {
  width: 100%;
}
/* //explore button  */
/* In your CSS file or Tailwind configuration */

.explore-container {
  transition: all 1s ease-in-out;
  animation: arrow-down-animation 5s ease-in infinite;
}
@keyframes arrow-down-animation {
  0% {
    transform: translateY(-11px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-11px);
  }
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.burger-icon {
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  transition: transform 0.3s;
  border-radius: 8px;
}

.burger-icon.active .bar:nth-child(1) {
  width: 80%;
  transform: rotate(45deg) translateY(11.5px);
}

.burger-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-icon.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-12.5px);
  width: 80%;
}

.ps__rail-y {
  opacity: 0;
  transition: opacity 0.3s;
}

.scrollbar-container.hovered .ps__rail-y {
  opacity: 1;
}

.content {
  height: 200%; /* Example to create overflow */
}

/* Customize the scrollbar track */

/* Customize the scrollbar thumb */
.ps__thumb-y {
  opacity: 1 !important;
  background-color: #d92732 !important;
  border-radius: 4px;
  /* height: 200px !important; */
  right: -0.1px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #d92732;
  width: 8px;
  cursor: pointer;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: 0.9;
}
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}
.circleContainer {
  background-color: red;
  position: relative;
  margin-top: 100px;
}
.circleContainer > .circle {
  height: 1550%;
  width: 120%;
  left: -10%;
  border-radius: 0 0 50% 50%;
  background-color: white;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}
